<% layout('layout') -%>

    <h1>memory.ly</h1>
    <h2><%= memory %></h2>
    <div id='dz-root'></div>

    <ul>
    <% for(var i=0; i<items.length; i++) {%>
    	<% if(items[i].type === 'picture') { %>
        	<li><img src="<%= items[i].data %>"></img></li>
    	<% } %>
    	<% if(items[i].type === 'deezer-track') { %>
        	<li><img onclick='DZ.player.playTracks([<%= items[i].data %>]); return false;' src="http://imgs.tuts.dragoart.com/how-to-draw-pink-floyd-dark-side-of-the-moon_1_000000002854_3.jpg">
        		
        	</img></li>
    	<% } %>
    	<% if(items[i].type === 'deezer-album') { %>
        	<li><img onclick='DZ.player.playAlbum(<%= items[i].data %>); return false;' src="http://imgs.tuts.dragoart.com/how-to-draw-pink-floyd-dark-side-of-the-moon_1_000000002854_3.jpg">
        		
        	</img></li>
    	<% } %>
	<% } %>
    </ul>
    <script> 
		DZ.init({
			appId  : '1363411',
			channelUrl : '<%= server %>/javascript/deezer.html',
			player : {
				onload : function(){ }
			}
		});
    </script>
    
    
    
/* This is Rogier's part! */



<div class="topbar">
	<div class="container">
		<div class="thirteen columns"><p class="sitename">MemoryBox</p></div>
		<div class="three columns alignright">
			<button class="topbutton">Start a new memory</button>
		</div>
	</div> <!-- container -->
</div> <!-- topbar -->

<div class="header" style="background-image: url(images/bg.jpeg);">
<div class="test">
	<div class="container">
		<div class="sixteen columns">
			<p class="memorytitle">#hackbattle</p>
			<p class="memorysubtitle">Want to contribute to this memory? Just send a mail to <a href="mailto:hackbattle@memorybox.co">hackbattle@memorybox.co</a>.</p>
		</div>
	</div>
	</div> <!-- container -->
</div><!-- headerbg -->


<div class="contentspace">
	<div class="container">
	
		<!-- start instagram -->
		<div class="five columns content">
			<img src="http://distilleryimage2.s3.amazonaws.com/4b971758cae411e396680002c9d67332_8.jpg">
			<div class="instagramprofile">
				<img src="http://images.ak.instagram.com/profiles/profile_6277333_75sq_1373914743.jpg">
				<p class="name">Martijn van der Weide</p>
				<p class="username"><a href="#">@martijnvdweide</a></p>
			</div>
		</div>
		<!-- end instagram -->
		
		<!-- start twitter -->
		<div class="ten columns content">
			<div class="twitterprofile">
				<img src="http://images.ak.instagram.com/profiles/profile_6277333_75sq_1373914743.jpg">
				<p class="name">Martijn van der Weide</p>
				<p class="username"><a href="#">@martijnvdweide</a></p>
				<p class="tweet">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam enim dolor, ornare vel nunc quis, iaculis cursus dolor. Pellentesque habitant morbi.</p>
			</div>
		</div>
		<!-- end twitter -->
		
		
	</div> <!-- container -->
</div> <!-- contentspace -->
