<% layout('layout') -%>

<div id='dz-root' style='display:none'></div>

<div class="topbar">
	<div class="container">
		<div class="thirteen columns"><p class="sitename"><a href="/">MemoryBox</a></p></div>
		<div class="three columns alignright">
			<button class="topbutton" ONCLICK="window.location.href='/'">Start a new memory</button>
		</div>
	</div>
</div>

<div class="header" style="background-image: url(images/bg.jpeg);">
<div class="test">
	<div class="container">
		<div class="sixteen columns">
			<p class="memorytitle"><%= memory %></p>
			<p class="memorysubtitle">Want to contribute to this memory? Just send a mail to <a href="mailto:hackbattle@memorybox.co"><%= memory %>@memorybox.co</a>.</p>
		</div>
	</div>
	</div>
</div>

<div class="contentspace">
	<div class="container" id='item-list'>
	
    	<% for(var i=0; i<items.length; i++) {%>
			<% if(items[i].type === 'picture') { %>
				<div class="five columns content">
					<img src="<%= items[i].data %>">
					<div class="instagramprofile">
						<img src="http://images.ak.instagram.com/profiles/profile_6277333_75sq_1373914743.jpg">
						<p class="name">Martijn van der Weide</p>
						<p class="username"><a href="#">@martijnvdweide</a></p>
					</div>
				</div>
			<% } %>

			<% if(items[i].type === 'deezer-album') { %>
				<div class="five columns content">
					<img src="/images/albumart.png" class='deezer-album deezer-item' data='<%= items[i].data %>'>
					<div class="instagramprofile">
						<img src="http://images.ak.instagram.com/profiles/profile_6277333_75sq_1373914743.jpg">
						<p class="name">Martijn van der Weide</p>
						<p class="username"><a href="#">@martijnvdweide</a></p>
					</div>
				</div>
			<% } %>

			<% if(items[i].type === 'deezer-track') { %>
				<div class="five columns content">
					<img src="/images/albumart.png" class='deezer-track deezer-item' data='<%= items[i].data %>'>
					<div class="instagramprofile">
						<img src="http://images.ak.instagram.com/profiles/profile_6277333_75sq_1373914743.jpg">
						<p class="name">Martijn van der Weide</p>
						<p class="username"><a href="#">@martijnvdweide</a></p>
					</div>
				</div>
			<% } %>
    	<% } %>
	</div> 
</div>

<script> 
	DZ.init({
		appId  : '1363411',
		channelUrl : 'http://localhost:3000/javascript/deezer.html',
		player : {
			onload : function(){ 
				deezerAlbums = $( "#item-list .deezer-album" );
				deezerTracks = $( "#item-list .deezer-track" );
				var pullData = function(type, elem, id) {
					$.getJSON( "/art/deezer/" + type + "/" + id, { }, function( resp ) {
						elem.attr('src', resp.art);
					});
				};

				for (var i = deezerAlbums.length - 1; i >= 0; i--) {
					var elem = $(deezerAlbums[i]);
					var id = elem.attr('data');
					pullData('album', elem, id);
					elem.click(function() {
						play('album', id);
					})
				};

				for (var i = deezerTracks.length - 1; i >= 0; i--) {
					var elem = $(deezerTracks[i]);
					var id = elem.attr('data');
					pullData('track', elem, id);
					elem.click(function() {
						play('track', id);
					})
				};

			}
		}
	});

	function play(type, id) {
		if(type === 'album') {
			DZ.player.playAlbum(id);
		} else if(type === 'track') {
			DZ.player.playTracks([id]);
		}
	}

</script>
