<% layout('layout') -%>

<div id='dz-root' style='display:none'></div>

<div id="navbar">
	<div class="container">
		<p class="sitename"><a href="/">Momently.nl</a></p>
	</div><!-- container -->
</div><!-- navbar -->

<div id="view">
	<div class="container">
		<p class="title"><%= memory %></p>
		<p class="subtitle">Want to contribute? Mail your content to <a href="mailto:<%= memory %>@momently.nl"><%= memory %>@momently.nl</a></p>
	</div><!-- container -->
</div><!-- homepage -->

<div class="contentspace">
	<div class="container" id='item-list'>
	
	</div> 
</div>

<script> 
	var DZloaded = false;
	var lastPull = '<%= pullTimestamp %>';

	DZ.init({
		appId  : '1363411',
		channelUrl : '<%= server %>/javascript/deezer.html',
		player : {
			onload : function() { 
				DZloaded = true;
			}
		}
	});

	function pullDeezer() {	
		deezerAlbums = $( "#item-list .deezer-album.deezer-wait" );
		deezerTracks = $( "#item-list .deezer-track.deezer-wait" );
		var pullData = function(type, elem, id, playButton) {
			$.getJSON( "/art/deezer/" + type + "/" + id, { }, function( resp ) {
				elem.attr('src', resp.art);
				elem.removeClass('deezer-wait');
			});
		};

		for (var i = deezerAlbums.length - 1; i >= 0; i--) {
			var elem = $(deezerAlbums[i]);
			var id = elem.attr('data');
			var prev = elem.prev();
			pullData('album', elem, id, prev);
			prev.click(function() {
				play('album', id, this);
			})
		};

		for (var i = deezerTracks.length - 1; i >= 0; i--) {
			var elem = $(deezerTracks[i]);
			var id = elem.attr('data');
			var prev = elem.prev();
			pullData('track', elem, id, prev);
			prev.click(function() {
				play('track', id, this);
			})
		};
	}

	function play(type, id, elem) {
		if(!DZloaded)
			return;
		resetAllPlayButtons();
		if(DZ.player.isPlaying()) {
			DZ.player.pause();
			return;
		}
		id = $(elem).next().attr('data');
		$(elem).attr('src', '/images/pause.png');
		if(type === 'album') {
			DZ.player.playAlbum(id);
		} else if(type === 'track') {
			DZ.player.playTracks([id]);
		}
	}

	function resetAllPlayButtons() {
		var playButtons = $(".playbutton");
		for (var i = playButtons.length - 1; i >= 0; i--) {
			var elem = $(playButtons[i]);
			elem.attr('src', '/images/play.png');
		};
	}

	function refreshData() {
		$.get( "/<%= memory %>/data?lastPull=" + lastPull.trim(), { }, function( resp ) {
			lastPull = 'second';

			qResp = $(resp);
			for (var i = qResp.length - 1; i >= 0; i--) {
				$(qResp[i]).hide().prependTo('#item-list').fadeIn(1000);
			};

			pullDeezer();
		})
		.always(function() {
	    	setTimeout(function() { refreshData() }, 2000);
		});
	}

	$(document).ready(function () {
	    refreshData();
	});
</script>
